<h2>Lista de Categorias</h2>
<hr>
<a href="/admin/categorias/add">
    <button class="btn btn-success">Nova Categoria</button>
</a>

{{#each categorias}}
    <div class="card mt-2">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small><br>
            <small>Data de criação: {{date}}</small><br>
            <a href="categorias/edit/{{ _id }}">
                <button class="btn btn-success mt-4">Editar</button>
            </a>
            <form action="/admin/categoria/deletar" method="post">
                <input type="hidden" name="id" value="{{ _id }}">
                <input class="btn btn-danger mt-3" type="submit" value="Excluir">
            </form>
        </div>
    </div>
{{else}}

{{/each}}
